.header {
  width: 100%;
  height: 60px;
  background: #288feb;
  position: fixed;
  top: 0;
}

.logo {
  color: white;
}

.logo:hover {
  text-decoration: initial;
}

.vertical-middle {
  height: 100%;
  & > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}

/* HEADER */
.my-facebook-button-class {

}


.kep-login-facebook-metro {
  float: left;
}

.rightHeader {
  float: right;
}
